* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    background-color: #89bece;
    height: auto;
    width: auto;
}
.first_page .greetings {
    /* welcome text WITHOUT border */
    z-index: 1;
    margin: auto;
    margin-top: 100px;

    width: 900px;
    height: 200px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 130px;
    text-align: center;

    color: #1b7585;   
}
.first_page .greetings#border {
    /* welcome text WITH border */
    /* z-index: 1; */
    margin: auto;
    margin-top: -200px;

    width: 900px;
    height: 200px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 130px;
    text-align: center;

    transform: translate(8px,8px);
    color: #89bece;
    -webkit-text-stroke: 3px #1b7585; 
    /* text-stroke: 5px #1b7585; */
}
.first_page h3.greetings#exp {
    /* to Surya Nirvana's personal website */
    margin-top: -45px;
    width: auto;
    height: auto;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    /* font-weight: 500; */
    font-size: 20px;
    text-align: center;

    color: #f9f9f9;
}
.first_page #square {
    /* create 4 squares */
    width: 800px;
    height: auto;
    margin-top: 70px;
    margin-bottom: 70px;
}
.first_page a.button {
    /* click here button */
    padding: 5px 30px 5px 30px;

    background-color: #F3B178;
    box-shadow: 10px 10px 10px grey;
    border-radius: 96.5px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    text-decoration: none;

    color: #f9f9f9;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.first_page a.button:hover {
    /* change the button color when hovering */
    background-color: #f9f9f9;
    color: #F3B178;
    text-decoration: none;
    
}
.first_page h3.button#exp {
    /* to know me better */
    margin-top: 10px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}
.second_page #profpic {
    /* profile picture */
    margin: 157px 0px 100px 50px;
    vertical-align: middle;
    width: 530px;
    height: 70%;
}
.second_page #nama_npm {
    /* contains nama and npm */
    margin: -150px 0px 100px 50px;
    text-align: center;
    width: 530px;
    height: 70%;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    
    color: #f9f9f9;
}
.second_page #mail {
    /* mail icon */
    position: relative;
    height: 40px;
    width: auto;
    margin: -90px 0px 80px 250px;
}
.second_page #linkedin {
    /* linkedin icon */
    position: absolute;
    height: 40px;
    width: auto;
    margin: -90px 0px 78px 50px;
}
/* create another line */
.second_page #line4 {
    position: absolute;
    width: 0;
    height: 620px;
    border: 5px solid #f9b10b;
    transform: translate(580px, -670px);
}
.second_page #self_desc {
    margin: -612px 0px 0px 630px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    width: 720px;
    height: 100px;

    color: #f9f9f9;
}
.second_page .uni {
    position: absolute;
    margin: 150px 0px 100px 630px;
    width: 90px;
    height: auto;
}
.second_page .uni#desc {
    margin: 150px 0px 0px 740px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    width: auto;
    height: 150px;

    color: #595959;
}
.second_page .hobbies {
    position: relative;
    margin: 330px 0px -300px 630px;
    width: 90px;
    height: auto;
}
.second_page .hobbies#desc {
    margin: 215px 0px 0px 740px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    width: auto;
    height: 150px;

    color: #595959;
}