<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet">    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" media="screen"/>
    <title>Surya Nirvana</title>

    <!-- SOURCE CODE: w3schools.com -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
    // Add smooth scrolling to all links
    $("a").on('click', function(event) {

        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
        // Prevent default anchor click behavior
        event.preventDefault();

        // Store hash
        var hash = this.hash;

        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
        $('html, body').animate({
            scrollTop: $(hash).offset().top
        }, 800, function(){
    
            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
        });
        } // End if
    });
    });
    </script>

</head>
<body> 
    <div class="first_page">
        <center>
            <h1 class="greetings">welcome !</h1>
            <h1 class="greetings" id="border">welcome !</h1>
        </center>
        <!-- <h1 id="line1"></h1>
        <h1 id="line2"></h1>
        <h1 id="line3"></h1> -->
        <center>
            <h3 class="greetings" id="exp">to Surya Nirvana's personal website<h3></h3>
            <img id="square" src="{% static 'images/square-03.png' %}">
        </center>
        <center>
            <a class="button" href="#profpic">Click Here</a>
            <h3 class="button" id="exp">to know me better</h3>
        </center>
    </div>
    <div class="second_page">
        <img id="profpic" src="{% static 'images/profilepic-02.png' %}">
        <h1 id="nama_npm">I Made Gede Surya Nirvana Prima Murthi</br>1806173550</h1>
        <a href="mailto:suryanirvanaprima@gmail.com"><img id="mail" src="{% static 'images/mail-2.png' %}"></a>
        <a href="https://linkedin.com/in/suryanirvana"><img id="linkedin" src="{% static 'images/linkedin-2.png' %}"></a>
        <h1 id="line4"></h1>
        <p id="self_desc">“<b>Second year undergraduate Computer Science student</b> who is seeking for an
            experience in <b>Tech (Engineering)</b> and <b>Data Science Department</b>.
            </br>A <b>hardworking</b> and <b>tech-savvy</b> person who also value in <b>creativity</b> and <b>analytical thinking</b>”
        </p>
        <a href="https://cs.ui.ac.id"><img class="uni" src="{% static 'images/university.png' %}"></a>
        <p class="uni" id="desc">Faculty of <b>Computer Science</b>,
            </br><b>Universitas Indonesia</b> Batch of <b>2018</b>
        </p>
        <img class="hobbies" src="{% static 'images/toy.png' %}">
        <p class="hobbies" id="desc">If sleep can count as a hobby,
            </br>then <b>sleep</b>
        </p>
    </div>
</body>
</html>